PORT=5000
JWT_SECRET=supersecret_legaljobs_jwt_key_2026
ADMIN_USERNAME="soham arora"
ADMIN_PASSWORD=easypeasy
NODE_ENV=development
MONGODB_URI=mongodb+srv://sankalptestinfo11:<db_password>@cluster0.9tocg.mongodb.net/legaljobs?retryWrites=true&w=majority&appName=Cluster0
